{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <h1>{{ feed.title }}</h1>
        <ul class="headlines">
        {% for article in feed.articles %}
    <li><a href="{{ path('article', {'article': article.id }) }}">{{ article.title }}</a></li>
        {% endfor %}
        </ul>
    </main>
    <footer>
        Laatste update: {{ feed.updated|date('Y-m-d H:m:i') }} | <a href="{{ feed.link }}" target="_blank" rel="noreferrer">Bron</a> | <a href="{{ path('about') }}">Info</a>
    </footer>
{% endblock %}