{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ content.title }}</h1>
    <main>
        <ul class="headlines">
        {% for headline in content.entry %}
            <li><a href="{{ path('article', {'article': headline.id|split('.')|last }) }}">{{ headline.title }}</a></li>
        {% endfor %}
        </ul>
    </main>
    <footer>
        Laatste update: {{ content.updated }}. <a href="{{ content.id }}">Bron</a>
    </footer>
{% endblock %}