{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <h1>{{ content.title }}</h1>
        <ul class="headlines">
        {% for headline in content.headlines %}
            <li><a href="{{ path('article', {'article': headline.id|split('.')|last }) }}">{{ headline.title }}</a></li>
        {% endfor %}
        </ul>
    </main>
    <footer>
        Laatste update: {{ content.updated }} | <a href="{{ content.link }}" target="_blank" rel="noreferrer">Bron</a> | <a href="{{ path('about') }}">Info</a>
    </footer>
{% endblock %}